@media only screen and (max-width: 992px){
    .selectBox{
        width: 30vw;
        align-self: center;
    }
}

@media only screen and (max-width: 767px){
    .selectBox{
        width: 65vw;
        align-self: center;
    }
}